.App {
    display: grid;
    grid-template-areas: 
    "header header header"    
    "nbLeft  content nbRight" 
    "nbLeft  content nbRight" 
    "sideBarLeft   nw nbRight"   
    "sideBarLeft   p nbRight"
     ;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 10fr 250px 250px 250px;

    text-align: center;
}

.App-content {

        grid-area: nw;
        background-color: #282c34;
        text-align: left;
        padding: 10px;
        
        

}